body {
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
}

section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  min-height: 100vh;
  color: #fff
}

.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory
}

/* Home ------------------ */

.home {
  justify-content: flex-start;
}

.home-img__container {
display: flex;
justify-content: center;
align-items: flex-start;
min-width: 100%;
max-height: 60vh;
overflow: hidden;
}

.home-info__container--mobile {
  display: flex;
  flex-direction: column;
  margin: 25px;
  justify-content: center;
}

.home-info__container--desktop {
  display: none;
}

.home-info__title {
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
}

.home-info__title h2 {
  font-size: 2rem;
}

.home-info__location {
  display: flex;
  justify-content: center;
  margin: 5px;
  text-transform: uppercase;
}

.home-info__contact {
  text-align: center;
  margin: 5px;
}

.home-info__contact ul li {
  margin: 5px 0
}

.home-info__contact a {
  color: #fff;
  text-decoration: none;
}

.home-info__container--mobile i, .home-info__container--desktop i {
  margin: 0 10px 0 0
}

/* About ----------------- */

.about-info-container {
  margin: 25px
}

.about-info-container h2 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

/* Languages & Skills ---- */

.languages-container {
  width: 100%;
  margin: 25px;
}

.languages-container h4 {
  margin: 0 25px
}

.languages-container__wrapper {
  margin: 5px 25px 0 25px
}

.language {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 0;
}

.skills-container {
  margin: 25px;
}

.skills-container__wrapper {
  margin: 5px 0 0 0;
  display: flex;
  flex-wrap: wrap
}


.skill {
  padding: 5px 10px 5px 0;
}

/* Experience ------------ */

.experience-container {
  margin: 25px;
}

.experience-container__wrapper {
  margin: 5px 0 0 0;
  display: flex;
  flex-wrap: wrap
}

.exp {
  margin: 10px 10px 10px 0;
}

.exp a {
  color: rgb(183, 183, 183);
}

/* Formation ------------ */

.formation {
  align-items: flex-start;
}

.formation-container {
  margin: 25px;
}

.formation-container__wrapper {
  margin: 5px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.for {
  margin: 10px 10px 10px 0;
}

.for a {
  color: rgb(183, 183, 183);
}

/* Footer ---------------- */

footer {
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  height: 60px;
  scroll-snap-align: start;
}

footer span a {
  display: flex;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

footer span a p {
  margin: 0 15px
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  .first-section-container {
    display: flex;
  }

  .home-img__container {
    max-width: 50vw;
    max-height: 100vh;
  }

  .home-img__container img {
    padding-top: 60px;
  }

  .home-info__container--mobile {
    display: none;
  }

  .home-info__container--desktop {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 50px;
    justify-content: center;
    text-align: initial;
  }

  .home-info__title {
    text-align: left;
    margin-left: 0;
  }

  .home-info__location {
    justify-content: left;
    margin-left: 0;
  }

  .home-info__contact {
    text-align: left;
    margin-left: 0;
  }

  .about {
    align-items: baseline;
  }

  .about-info-container {
    margin: 90px 50px
  }

  .about-info-container h2{
    font-size: 2rem;
  }

  .about-info-container p{
    font-size: 1.2rem;
  }

  .second-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 170px;
  }

  .languages-and-skills {
    align-items: flex-start;
  }

  .languages-and-skills h4 {
    font-size: 2rem;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }

  .languages-container__wrapper {
    margin: 5px 25px 0 0
  }

  .languages-container {
    margin: 25px 0;
  }

  .skills-container {
    margin: 25px 0;
  }

  .third-section-container {
    display: flex;
    align-items: baseline;
    padding: 0 100px;
  }

  .third-section-container h4 {
    font-size: 2rem;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }

  .exp {
    margin: 20px 30px 20px 0;
    max-width: 180px

  }

  .for {
    margin: 20px 30px 20px 0;
    max-width: 180px
  }

  .formation {
  align-items: flex-end;
  scroll-snap-align: none;
  }

}

@media only screen and (min-width: 1280px) {
  .home-img__container {
    justify-content: flex-start;
  }

  .about-info-container {
    margin: 90px 10vw 90px 50px;
  }

  .third-section-container {
    padding: 0 170px;
  }
}